[Unit]
Description=Periodically scan and connect to strongest WiFi.

[Service]
Type=oneshot
ExecStart=/home/clifford/.config/networkmanager/AutoWifiConnect.sh